<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Event Registration</title>
  </head>
  <body>
    <h1>Event Registration</h1>
    <div class="">
      <%=user.name%>
      <p>Hello sir thanks for registering in our event</p>
      <h1>Event Details</h1>

      <p>We hope you enjoy our events</p>
    </div>
  </body>
</html>
